p:hover, .pasirinktas, .teisingas{
	border: 1px solid lightgreen;
	background-color: #f6f6f6;
	border-radius: 10px;
	cursor: pointer;
}

.neteisingas, .neteisingas:hover{
	border: 1px solid red;
	background-color: #f6f6f6;
	border-radius: 10px;
	cursor: pointer;
}

p{
	padding: 10px;
	border: 1px solid transparent;
}

.wrapper{
	max-width: 900px;
	padding: 50px;
	margin: auto;
	align-items: center;
}

.klausimas{
	margin-bottom: 10px;
	padding: 20px;
}

.konteineris h2{
	margin-bottom: 18px;
}

.button{
	margin-bottom: 50px;
}

.rezultatai{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #481335;
	text-align: center;
	font-size: 80px;
	color: white;
	margin: 0 auto;
	padding: 70px 0;
	
}