*{
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", Arial, serif;
}

.container{
	max-width: 900px;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

html, body {
	margin: 0;
}

.logo{
	font-size: 2rem;
	color: #454545;
	font-weight: bold;
}

#logo-green{
	color: #53A899;
	font-weight: normal;
}

.header-container{
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 5px;
	margin: auto;
	max-width: 900px;
}

.header{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  	width: 100%;
}

ul{
	list-style-type: none;
	text-align: center;
}

ul li{
	font-size: 10px;
	display: inline;
	padding: 2px 8px;
	font-weight: bold;
}

ul li a:hover{
	color: black;
}

li a:visited{
	text-decoration: none;
	color: grey;
}

li a:link{
	text-decoration: none;	
	color: grey;
}

hr{
	color: #9DBEB7;
	background-color: #9DBEB7;
	height: 2px;
	border: 0;
}

.rows-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	max-width: 900px;
}

.row1{
	/*display: flex;
	justify-content: flex-start;*/
}

.row2{
	
}

.divider{
	text-align: left;
	background: url(http://appstraptheme.com/appstrap3.2.0/theme/assets/img/bg_divider.png) left bottom repeat-x;
	padding: 0;
}

.core{
	background: white;
	font-size: 1.8rem;
	color: #454545;
	font-weight: bold;
}

.features{
	padding-right: 20px;
	font-weight: normal;
	color: grey;
}

.core-text{
	color: grey;
}

.rows2-right .divider .core, .rows2-left .divider .core{
	font-size: 1.5rem;
}

.row2{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.row-grid-item{
	width: 280px;
	padding: 10px;
	text-align: center;
}

.tabcontent i, .row-grid-item i{
	font-size: 70px;
	color: #53A899;
}

.tabcontent h3 i{
	float: right;
	padding: 10px;
}

.tabcontent h3{
	color: #212529;
}

.item-text{
	color: #212529;
	font-size: 16px;
}

.rows2-container{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	flex-wrap: wrap;
	max-width: 900px;
	margin: auto;
}

.rows2-left{
	width: 73%;
}

.rows2-right{
	width: 25%;
}

.rows2-right p{
	color: #212529;
}

.tab{
	float: left;
	background-color: white;
	width: 30%;
	height: 300px;
}

.tablinks{
	min-width: 171px;
}

.tab button{
	display: block;
	background-color: inherit;
	color: #212529;
	padding: 10px 16px;
	width: 100%;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 3px solid white;
	border-right: 1px solid grey;
}

.fa-angle-right{
	visibility: hidden;
}

button.active .fa-angle-right{
	visibility: visible;
	position: absolute;
	top: 41%;
	right: 13px;
	font-size: 16px;
}

.tab button:hover{
	color: #58A699;
}

.tab button.active{
	color: #58A699;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	border-left: 3px solid #58A699;
	border-right: 1px solid white;
	position: relative;
}

.bold{
	font-weight: bold;
}

.tabcontent{
	float: left;
	padding: 0px 12px;
	width: 70%;
	border-left: none;
	height: 300px;
}

.callback{
	background-color: #53A899;
	padding: 10px 10px;
	position: relative;
	overflow: hidden;
}

.uppercase{
	position: inherit;
	color: white;
	font-weight: bold;
	font-size: 16px;
	z-index: 3;
}

.callback hr{
	position: relative;
	float: left;
	width: 20%;
	color: white;
	background-color: white;
	height: 4px;
	box-sizing: content-box;
	z-index: 3;
}

.callback i{
	position: absolute;
	color: #c4f2e9;
	background-color: #53A899;
	right: 10px;
	top: 4px;
	opacity: 0.7;
	z-index: 1;
	transform: rotate(25deg);
}

input[type=tel]{
	position: relative;
	border: 1px solid grey;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-right-style: none;
	z-index: 3;
	max-width: 200px;
}

input[type=submit]{
	position: relative;
	width: auto;
	background-color: #454545;
	padding: 5px 5px;
	color: white;
	font-weight: bold;
	height: 27px;
	text-align: center;
	border: 1px solid #454545;
	z-index: 3;
}

.field-wrapper{
	white-space: nowrap;
	width: 80%;
}

.clearfix{
	clear: both;
}

.rows3-container-wrap{
	background-color: #58A699;
}

.rows3-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 13px;
	max-width: 900px;
	margin: auto;
}

.rows3-left{
	display: flex;
	flex-direction: column;
}

.awesome{
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
}

.bold-text{
	color: white;
	font-weight: bold;
}

.forw-slash{
	color: #2E6E67;
}

.row3-right-main{
	
}

.row3-right{
	display: flex;
	padding: 15px 20px;
	background-color: #2E6E67;
	border-radius: 30px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.row3-right-main a:visited, .row3-right-main a:link{
	color: black;
	text-decoration: none;
}

.row3-right:hover{
	text-decoration: underline;
	transition: background-color 0.5s;
	transition-timing-function: ease-in-out;
	background-color: #193f3b;
}

.footer-container{
	display: flex;
	justify-content: center;
}

footer {
		padding: 20px 30px;
		background-color: #454545;
}

.footer{
	
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: white;
	flex-wrap: wrap;
}

.footer-item{
	width: 260px;
	font-size: 13px;
}

.field-wrapper input[type="email"]{
	border-right-style: none;
	width: 100%;
}

input{
	width: 100%;
	padding: 5px 5px;
	border: 1px solid grey;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.footer-item input[type=submit]{
	background-color: #3CB371;
	border: 1px solid #3CB371;
}

.footer-item:last-of-type{
	margin-bottom: 40px;
}

@media (max-width: 768px){
	body{
		margin:0
	}
	
	.row2{
		justify-content: center;
	}
	
	.rows2-container{
		flex-direction: column;
	}
	
	.rows2-left{
		width: 100%;
	}

	.rows2-right{
		width: 100%;
	}
	
	.rows2-left{
		flex-direction: column;
	}
	
	.rows3-left, .rows2-right p, .logo, .logo-green, .awesome, .features, .bold-text, .row3-right-main{
		text-align: center;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.tab{
		float: none;
		width: auto;
		height: auto;
	}
	
	.tabcontent{
		width: auto;
		height: auto;
	}
	
	button.active .fa-angle-right{
		transform: rotate(90deg);
	}
	
	.tab button.active{
		border-right: 3px solid #58A699;
	}
	
	.tab button{
		border-right: none;
	}
	
	.footer{
		justify-content: center;
	}
	
	footer{
		padding: 0;
	}
	
	input{
		max-width: 200px;
	}
}